/**
* 辅助mixin，提供常用的mixin方法
*/

// background-size属性兼容IE8
.bgSize(@size) {
  background-size: @size;
  -ms-behavior: url('../backgroundsize.min.htc');
  behavior: url('../backgroundsize.min.htc');
}

//设置小于12px的字体，兼容chrome
.zoomin(@size) when(@size < 12) {
  font-size: 12px;
  transform : scale(@size / 12) ;
  *font-size: @size;  //兼容IE8
}

//设置input输入框占位文字的颜色
.input-placeholder(@color) {
  &::-webkit-input-placeholder { /* WebKit browsers */ 
    color: @color;
  } 
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
    color: @color;
  } 
  &::-moz-placeholder { /* Mozilla Firefox 19+ */ 
    color: @color;
  } 
  &:-ms-input-placeholder { /* Internet Explorer 10+ */ 
    color: @color;
  } 
}

//将容器置灰
.gray() {
  -webkit-filter: grayscale(1);/* Webkit */ 
  filter:gray;/* IE6-9 */ 
  filter: grayscale(1);/* W3C */ 
}

// 两列右侧自适应布局adaptive:a, r: right: l: left, m: middle, f: fixed
.layout-ar(@width) {
  &-left {
    float:left;
    width:@width;
    margin-right:-@width;
  }
  &-right {
    float:right;
    width:100%
  }
  &-right-content {
    margin-left:@width;
  }
}

// 两列左侧自适应布局
.layout-al(@width) {
  &-right {
    float:right;
    width:@width;
    margin-left:-@width;
  }
  &-left {
    float:left;
    width:100%
  }
  &-right-content {
    margin-right:@width;
  }
}

//三列中间自适应布局
.layout-am(@left-width, @right-width) {
  &-left {
    float: left;
    width: @left-width;
    margin-right: -@left-width;
  }
  &-right {
    float: right;
    width: @right-width;
    margin-left: -@right-width;
  }
  &-middle {
    width: 100%;
    float: left;
  }
  &-middle-content {
    margin-left: @left-width;
    margin-right: @right-width;
  }
}

//三列右侧自适应布局
.layout-arr(@width1, @width2) {
  &-left-1 {
    float: left;
    width: @width1;
  }
  &-left-2 {
    float: left;
    width: @width2;
  }
  &-right {
    float: right;
    width: 100%;
    margin-left: -@width1-@width2;
  }
  &-right-content {
    margin-left: @width1-@width2;
  }
}

//三列左侧自适应布局
.layout-all(@width1, @width2) {
  &-right-1 {
    float: right;
    width: @width1;
  }
  &-right-2 {
    float: right;
    width: @width2;
  }
  &-left {
    float: left;
    width: 100%;
    margin-right: -@width1-@width2;
  }
  &-right-content {
    margin-right: @width1-@width2;
  }
}

//两列定宽
.layout-flr(@left-width, @right-width) {
  &-left {
    float: left;
    width: @left-width;
  }
  &-right {
    float: right;
    width: @right-width;
  }
}
